body {
  background-color: #e6e6ff;
  color: black;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 3rem;
  color: black;
}

.header {
  display: flex;
  align-items: center;
}

.errors,
.accuracy, .cpm, .wpm {
  background-color: #ccda46;
  height: 60px;
  width: 70px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 5px 8px 5px;
}

.cpm, .wpm  {
  display: none;
}

.header_text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.curr_time, .curr_errors,
.curr_accuracy, .curr_cpm,
.curr_wpm {
  font-size: 2.75rem;
}

.quote {
  font-family: 'kruti dev';  
  background-color: #ffffff;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  box-shadow: black 5px 8px 5px;
  width: 500px;
  height: 150px;
}

.originalText {
  font-family: 'kruti dev';  
  background-color: #ffffff;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  box-shadow: black 5px 8px 5px;
  width: 500px;
  height: 150px;
  overflow-y: auto;
}


.input_area {
  font-family: 'kruti dev';  
  background-color: #ccda46;
  height: 100px;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
  box-shadow: black 5px 8px 5px;
}

.incorrect_char {
  color: red;
  text-decoration: underline;
}

.correct_char {
  color: darkgreen;
}

.restart_btn {
  display: none;
  background-color: #326765;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  box-shadow: black 5px 8px 5px;
}

@font-face {  
  font-family: 'kruti dev' ;  
  src: url( './font/kruti-dev-021.ttf' ) format("truetype");  
}  

.hinditext {
    font-family: 'kruti dev';  
    font-size: 1.5rem;
}

.stats {
  background-color: #00ff00;
  font-size: 1.3rem;
  margin: 2px;
  padding: 25px;
  box-shadow: black 5px 8px 5px;
  width: 80px;
  text-align: center;
  color: #ff0000;
}

.timer {
  background-color: #00ff00;
  height: 45px;
  width: 540px;
  margin: 10px;
  padding: 10px;
  box-shadow: black 5px 5px 5px;
  color: #ff0000;
}

.button {
  background-color: #0099ff; /* blue */
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
  border: 1px solid #0099ff; 
}

.button:hover {
  background-color: white; /* Green */
  color: black;
  border: 1x solid #0099ff; 
}


.corebutton {
  background-color: #00ff00; /* Green */
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
  border: 1.5px solid #000000;
}

.corebutton:hover {
  background-color: white; /* Green */
  color: black;
  border: 1.5x solid #000000; 
}
